<link rel="stylesheet" href="/css/encomienda/editar.css">
{{#each lista}}
<form action="/encomienda/editar/{{id_encomienda_remitente}}" method="post">


    <head>
      <div id="contendodrhe">
        <div>
          <div class="navbar">
            <div id="imagen">
              <img src="/img/logon.png"></img>
            </div>
            <a id="inicio" href="#">Inicio</a>
            <button id="boton" type="button" href="#">Ingresar</button>
          </div>
        </div>
    </head>
    <div id="container">
      <h2>Registro de Encomiendas</h2>
      <u>
        <h3>Remitente</h3>
      </u>

      <label id="name" for="nombre">Nombres Completos:</label> <br>
      <input type="text" id="nombre" name="nombres_remitente" value="{{nombres_remitente}}" required>

      <label id="numeroce1" for="apellido"> Cedula:</label>
      <input type="text" id="cedula1" name="cedula_remitente" value="{{cedula_remitente}}" required>

      <label id="numetelef" for="telefono"> Telefono:</label>
      <input type="text" id="telefono" name="telefono_encomienda_remitente"  value="{{telefono_encomienda_remitente}}" required>

      <br> <br>
      <label id="correoele" for="correo">Correo Electronico:</label> <br>
      <input type="email" id="correo" name="email_remitente" value="{{email_remitente}}" required>
      <br> <br>

      <u>
        <h3>Datos de envio</h3>
      </u>

      <label id="nameco" for="nomcoop"> Nombres Completos :</label> <br>
      <input type="text" id="nomcoop" name="nombres_destinatario" value="{{nombres_destinatario}}" required>

      <label id="nameco" for="nomcoop">Numero de cedula :</label> <br>
      <input type="text" id="nomcoop" name="cedula_destinatario" value="{{cedula_destinatario}}" required>

      <label id="telfC" for="telefonocelu">Direccion :</label>
      <input type="text" id="telefonoC" name="direccion_destinatario" value="{{direccion_destinatario}}" required>


      <label id="numreg" for="registro">telefono encomienda destinatario:</label>
      <input type="text" id="registro" name="telefono_destinatario"  value="{{telefono_destinatario}}" required>

      <u>
        <h3>Destinatario</h3>
      </u>

      <label id="name" for="nombre">Nombres Cooperativa:</label> <br>
      <input type="text" id="nombre" name="nombres_cooperativa_detalle_encomienda"  value="{{nombres_cooperativa_detalle_encomienda}}" required>

      <label id="numeroce2" for="apellido">Cedula:</label>
      <input type="text" id="cedula2" name="tamano_detalle_encomienda" value="{{tamano_detalle_encomienda}}" required>

      <label id="numetelef" for="apellido">Fecha envio:</label>
      <input type="datetime-local" id="fecha" name="fecha_envio_detalle_encomienda" value="{{fecha_envio_detalle_encomienda}}" required> <br>

      <label id="calle" for="callepri">numero registro detalle encomienda:</label> <br> <br>
      <input type="text" id="callepri" name="numero_registro_detalle_encomienda"  value="{{numero_registro_detalle_encomienda}}" required>
     
      <div id="boton">
        <button type="submit">Actualizar</button>
      </div>

</form>
{{/each}}
</div>