<link rel="stylesheet" href="/src/public/css/Encomienda/editar.css">
<head>
    <head>
    <div id="contendodrhe">
        <div>
            <div class="navbar">
                <div id="imagen">
                    <img src="/img/logon.png"></img></div>
                    <a id="inicio" href="/views/inicio.hbs">Inicio</a>
                    <a id="administrador" href="#">Administrador</a>
                    <img id="img2" src="/img/perfil.png" alt="">
            </div>
    </div>
</head>
  <body>
      <div class="container">
          <h1>Registro de Encomiendas</h1>
          
          <form id="encomienda-form" action="/" method="post">
              <div class="input-group">
                  <u><h2>Remitente</h2></u>

                  <div>
                    <label>Id: </label>
                    <input type="text" name="id_encomienda_remitente" value="{{id_encomienda_remitente}}" readonly  >
                  </div>
                  <div>
                  <label for="nombres_remitente">Nombres Completos:</label>
                  <input type="text" id="nombres_remitente" name="nombres_remitente" value="{{nombres_encomienda_remitente}}" required>
                </div>
                <div>
                  <label for="cedula_remitente">Numero de cedula:</label>
                  <input type="number" id="cedula_remitente" name="cedula_remitente" value="{{cedula_encomienda_remitente}}" required>
                </div>
                <div>
                  <label for="telefono_remitente">Numero telefonico:</label>
                  <input type="number" id="telefono_remitente" name="telefono_remitente" value="{{telefono_encomienda_remitente}}" required>
                </div>
                <div>
                  <label for="correo_remitente">Correo Electronico:</label>
                  <input type="text" id="correo_remitente" name="correo_remitente" value="{{email_encomienda_remitente}}" required>
                </div>
              </div>
  
              <div class="input-group">
                  <u><h2>Destinatario</h2></u>

                  <div>
                    <label>Id: </label>
                    <input type="text" name="id_encomienda_destinatario" value="{{id_encomienda_destinatario}}" readonly  >
                  </div>
                  <div>
                  <label for="nombres_destinatario">Nombres Completos:</label>
                  <input type="text" id="nombres_destinatario" name="nombres_destinatario" value="{{nombresCompletosEncomiendaDestinatario}}" required>
                </div>

                <div>
                  <label for="cedula_destinatario">Numero de cedula:</label>
                  <input type="number" id="cedula_destinatario" name="cedula_destinatario" value="{{cedulaEncomiendaDestinatario}}" required>
                </div>
                
                <div>
                  <label for="telefono_destinatario">Numero telefonico:</label>
                  <input type="number" id="telefono_destinatario" name="telefono_destinatario" value="{{telefonoEncomiendaDestinatario}}" required>
                </div>
  
                <div>
                  <label for="callep_destinatario">Calle Principal:</label>
                  <input type="text" id="callep_destinatario" name="callep_destinatario" value="{{callepEncomiendaDestinatario}}" required>
                </div>

                <div>
                    <label for="calles_destinatario">Calle Secundaria:</label>
                  <input type="text"  id="calles_destinatario" name="calles_destinatario" value="{{callesEncomiendaDestinatario}}" required>
                  </div>

                <div>
                    <label for="numerocasa_destinatario">Numero de Casa:</label>
                  <input type="number" id="numerocasa_destinatario" name="numerocasa_destinatario" value="{{nroCasaEncomiendaDestinatario}}" required>
                </div>  
              </div>

              <div class="input-group">
                  <u><h2>Datos de envio</h2></u>

                  <div>
                    <label>Id: </label>
                    <input type="text" name="id_detalle_encomienda" value="{{id_detalle_encomienda}}" readonly  >
                  </div>

                  <div>
                    <label for="nombres_cooperativa_detalle_encomienda">Nombre de la Cooperativa:</label>
                    <input type="text" id="nombres_cooperativa_detalle_encomienda" name="nombres_cooperativa_detalle_encomienda" value="{{nombres_cooperativa_detalle_encomienda}}" required>
                   </div>

                  <div>
                  <label for="tamaño_encomienda">Tamaño de encomienda:</label>
                  <input type="number" id="tamaño_encomienda" name="tamaño_encomienda" value="{{tamaño_detalle_encomienda}}" required>
                 </div>
  
                 <div>
                 <label for="fecha_envio">Fecha y Hora de envio:</label>
                  <input type="datetime-local" id="fecha_envio" name="fecha_envio" value="{{fecha_envio_detalle_encomienda}}" required>
                </div> 
  
                <div>
                  <label for="registro_transporte">Numero de registro de transporte:</label>
                  <input type="number" id="registro_transporte" name="registro_transporte" value="{{numero_registro_detalle_encomienda}}" required>
                </div>

                <div>
                    <label for="peso">Peso de la Encomienda:</label>
                    <input type="number" id="peso" name="peso" value="{{peso_detalle_encomienda}}" required>
                </div>
              </div>
  
              <button type="submit">Guardar</button>
              <button type="submit" style="background-color: red;">Cancelar</button>
          </form>
      </div>
  </body>

  <footer id="footer" class="">
      <div class="container">
        <div class="row text-left">
          <div class="contact">
            <p>Contactanos</p>
            <img id="btnwasa" src="/img/wasa.png" alt=""><br>
            <img id="btnmail" src="/img/mail.png" alt=""><br>
            <img id="btntelef" src="/img/telef.png" alt="">
          </div>
          <div id="destin">
            <p>Destinos</p><br>
            <a>Playa</a><br>
            <a>Montaña</a><br>
            <a>Inolvidables eventos</a>
          </div>
          <div class="soport">
            <p>Soporte</p>
            
          </div>
        </div>
      </div>
</footer>